.chats-screen {
  padding: 0px var(--horizontal-space);
  padding-bottom: 450px;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.user-component__text .user-component__title--not-bold {
  font-size: 15px;
}

.chats__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.chats__notification__dot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chats__notification__dot > span {
  margin-right: 5px;
}

.chats-screen .user-component:hover {
  cursor: pointer;
}
